.product-item {
  padding: 0 15px;
  &__head {
    @media (max-width: 1180px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__lables {
    position: absolute;
    transform: translateY(-21px);
    display: flex;
    flex-direction: column;
  }

  &__lable {
    height: 21px;
    padding: 0 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #fff;
    background-color: #fd8424;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    margin: 0 0 5px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__img {
    margin: 0 0 10px 0;
    display: inline-block;
    text-align: center;
  }

  &__title {
    transition: all .3s ease;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20 / 16 * 100%;
    color: #36949f;
    margin: 0 0 15px 0;
    padding: 0 0 0 10px;

    span {
      font-weight: 900;
    }
  }

  &__footer {
    margin: 10px 0 0 0;
  }

  &__old-price {
    text-align: right;
    font-size: 18px;
    font-weight: 300;
    color: #999;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-decoration: line-through;
    z-index: 4;
   &:after {
     content: "₽";
     right: 0;
     padding: 0 0 0 1px;
     font-size: 14px;
   }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__add {
    transition: all .3s ease;
    width: 40px;
    height: 40px;
    background: url("../../img/icons/basket-gray.png");
  }

  &__price {
    transition: all .3s ease;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    color: #333;
    position: relative;
    z-index: 4;
    &:after {
      content: "₽";
      right: 0;
      padding: 0 0 0 6px;
      font-size: 20px;
    }
  }
}

.butt {
  background-color: #f68038;
  height: 39px;
  padding: 0 22.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  transition: all .3s ease;
}

.wrapper-popular-product {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  padding: 25px 0 0 4px;

  &__link {
    @media (min-width: 992px) {
      position: absolute;
      z-index: 4;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    padding: 0 0 0 25px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    color: #c2c2c2;
    margin: 0 0 25px 0;
    span {
      font-weight: 900;
      color: #fff;
      display: block;
    }
  }

  &__info {
    padding: 0 0 0 25px;
    margin: 0 0 25px 0;
  }

  &__add {
    display: block;
    position: relative;
    z-index: 5;
    width: 52px;
    height: 52px;
    background: url("../../img/icons/basket-orange.png  ");
    margin: 0 auto 58px auto;
  }

  &__isHave {
    height: 21px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    border-radius: 15px;
    color: #f68038;
    margin: 0 0 0 15px;
  }
}

.info-wrapper-popular-product {
  &__lable {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #fff;
    span {
      display: block;
      font-weight: 900;
      line-height: 18px;
      color: #f68038;
    }
  }
}

.conts-product {
  display: flex;
  align-items: center;

  &__arrow {
    cursor: pointer;
    width: 19px;
    height: 16px;
    background: url("../../img/goods/arrow_g.png");
    @media (min-width: 992px) {
      &:hover {
        background: url("../../img/goods/arrow_orange.png");
      }
    }

    &_left {
    }

    &_right {
      transform: rotate(180deg);
    }
  }

  &__input {
    height: 33px;
    width: 56px;
    border: solid 2px #e5e5e5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

    input {
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 900;
      text-align: center;
      color: #999;
    }
  }
}